html {
  height: 100%;
}

body {
  position: absolute;
  min-height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Roboto, Arial;
  font-size: 20px;
  background-color: #b1abe0;
  margin: auto;
  text-align: center;
  flex-direction: column;
}

.news-body {
  background-color: #abbfe0;
}

.more-body {
  background-color: #cdd094;
  /*background-color: #a5c68e;*/
}

main {
  flex: 1 0 auto;
}

.banner {
  background-image: url("images/banner.jpg");
  width: 75%;
  min-height: 195px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

button {
  font-size: 20px;
  background-color: #ffffff6c;
  margin: 10px;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.108);
}

img {
  width: 150px;
  height: 150px;
  object-fit: cover;
}

.song-box-container {
  display: flex;
}

.song-box {
  border: 1px solid black;
  background-color: #d8dcf1;
  margin-right: 30px;
  margin-left: 30px;
  width: 250px;
  border-radius: 5px;
}

.song-box-info {
  margin-top: -7px;
  margin-bottom: 30px;
  line-height: 14px;
}

.write-date {
  font-size: 16px;
  color: rgb(45, 45, 45);
}

.icon {
  width: 50px;
  height: 50px;
  margin: 5px;
  cursor: pointer;
}

.contact-text {
  font-weight: bold;
}

.contacts {
  padding-top: 18px;
  padding-bottom: 15px;
  width: 300px;
  border: 5px solid black;
  background-color: #eef0cc;
  margin-bottom: 10px;
}

.other-text {
  font-size: 30px;
  margin-top: 15px;
}

.title-text {
  font-weight: bold;
  font-size: 40px;
  margin: 20px;
}

footer {
  font-size: 12px;
  color: rgb(61, 61, 61);
  flex-shrink: 0;
}

.descriptor {
  margin-top: -10px;
  margin-bottom: 30px;
}

.song-icon {
  margin-bottom: 7px;
}

.serif {
  font-family: Georgia;
}

.sans1 {
  font-family: Futura;
}

.sans2 {
  font-family: Avenir;
}

.script {
  font-family: Amita;
}

#mc_embed_signup {
  background: #d8dcf1;
  border: 1px solid black;
  border-radius: 5px;
  clear: left;
  font: 14px Helvetica, Arial, sans-serif;
  width: 500px;
  margin-top: 35px;
  margin-bottom: 20px;
  justify-self: center;
}

.response {
  display: none;
}

.sidebar1 {
  background-color: rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 87.5%;
}

.sidebar2 {
  background-color: rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 87.5%;
  right: 0;
}

.sb-logo {
  width: 100%;
  height: 130px;
  margin-bottom: -5px;
}

a, a:visited {
  color: black;
  text-decoration: none;
}

.sb-box {
  width: 100%;
  height: 65px;
  background-color: #d8dcf1;
  display: grid;
  align-items: center;
  text-align: center;
}

.thumbnail {
  width: unset;
  height: 200px;
  margin: 10px;
  border-radius: 15px;
}

nav ul {
  height:200px;
  width: 300px;
  overflow:hidden;
  overflow-y:scroll;
  text-align: left;
  font-size: 18px;
  line-height: 25px;
}