html, body {
  height: 100%;
}

body {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Roboto, Arial;
  font-size: 20px;
  background-color: #b1abe0;
  margin: auto;
  text-align: center;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

button {
  font-size: 20px;
  background-color: #b1abe000;
  margin: 10px;
  cursor: pointer;
}

img {
  width: 150px;
  height: 150px;
  object-fit: cover;
}

.song-box {
  border: 1px solid black;
  background-color: #b9d1f5;
}

.song-box-info {
  margin-top: -7px;
  margin-bottom: 30px;
  line-height: 14px;
}

.write-date {
  font-size: 16px;
  color: rgb(45, 45, 45);
}

.banner {
  width: 75%;
  height: 200px;
}

.icon {
  width: 50px;
  height: 50px;
  margin: 5px;
  cursor: pointer;
}

.contact-text {
  font-weight: bold;
}

.contacts {
  padding-top: 18px;
  padding-bottom: 15px;
  width: 300px;
  border: 5px solid black;
  background-color: #d8daf1;
  margin-bottom: 10px;
}

.other-text {
  font-size: 30px;
  margin-top: 15px;
}

.title-text {
  font-weight: bold;
  font-size: 40px;
  margin: 20px;
}

footer {
  font-size: 12px;
  color: rgb(61, 61, 61);
  flex-shrink: 0;
}